<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Preview Document</title>
</head>
<body>
    <h1>Preview Document</h1>
    <iframe src="/preview/doc/<%= docxFileName %>" width="100%" height="800"></iframe>
    <a href="/download/<%= docxFileName %>">Download</a>
</body>
</html>
